input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
    width: 350px;
    text-align: center;
}

th {
    background-color: #CC3300;
    color: white;
}

td {
    border: 1px solid;
    padding: 5px;
}